<!DOCTYPE html>
<html>
<head>
    <title>Stock Trend Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function showLoading() {
            var button = document.getElementById("ani");
            button.innerHTML = `<div class="loader">
  <div class="loader__bar"></div>
  <div class="loader__bar"></div>
  <div class="loader__bar"></div>
  <div class="loader__bar"></div>
  <div class="loader__bar"></div>
  <div class="loader__ball"></div>
</div>`;
            button.disabled = true;
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Stock Trend Predictor</h1>
        <form method="POST" onsubmit="showLoading()">
            <input type="text" name="ticker" placeholder="Enter stock ticker (e.g., TSLA)" required>
            <button type="submit" id="analyzeButton">Analyze</button>
            <div id="ani">

            </div>
        </form>
    </div>
</body>
</html>
